.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.abt-txt {
  max-width: 700px;
  text-align: center;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

.abt-gifs {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-img {
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.abt-head{
    text-align: center;
    font-size: 3rem;
}